//Home style

.homeSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    background: #000000;  /* fallback for old browsers */
    background: linear-gradient(to bottom,#000000, #434343);
    background-position: center;
    background-size: cover;
    border-bottom: 2px solid #000000;
 

    h1 {
        color: #fff;
        font-size: 3rem;
        margin-bottom: 1rem;
        width: 80%;
        text-align: left !important;
    }

    span {
        color: #d39d38;  
    }

    &__photo {
        position: relative;
        /*background-image: url('../../assets/clement_deboeuf.webp');*/
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;

        img {
            width: 15rem;
            height: auto;
            object-fit: cover;
        }
    }
}